// Specific CSS for your home-page

body {
  background-image: url('https://res.cloudinary.com/lightglance/image/upload/v1569510525/background-rbikes-v2_gti7nk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  padding-bottom: 200px;
}

.banner-home {
  background-image: url('https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1920&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 250%;
  height: 50vh;
}

.banner-home h1 {
  color: #26323e;
}


