// Specific CSS for your home-page

body {
  background-image: url('https://res.cloudinary.com/lightglance/image/upload/v1569510525/background-rbikes-v2_gti7nk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  padding-bottom: 200px
}
