<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-hearder">
      <a href="#">Navbar</a>
  </div>
</nav>

<div class="row align-items-center m-5">

<h1 class="offset-4 col-2 text-white mt-5">RBIKES</h1>

</div>
