
<div class="container">
<% @bikes.each do |bike| %>
<div class="card-product">

    <%= link_to bike_path(bike) do %>
  <%= cl_image_tag "photo-1470347051932-8ca24b11b3e3_qauwz4.jpg" %>
<%end %>
  <div class="card-product-infos">
    <%= link_to "#{bike.brand} – #{bike.model}", bike_path(bike), class: "a-primary" %>
    <p><%= bike.description %></p>
  <p class="product-card-pricing">999 NOK</p>


  </div>
</div>
<% end %>

</div>

