<div class="navbar-lewagon"> </div>
<h1>Your search </h1>

<% @bikes.each do |bike| %>
<%= bike.model %>
<%= bike.bike_type %>
<%= bike.brand %>
<%= bike.production_year %>
<% end %>



<%# @bikes.each do |bike| %>
<!-- <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> -->
<%# end %>
