#end_date {

  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0.9;
}

#start_date {

  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0.9;

}

.calendar {
  margin-left: 160px;
  opacity: 0.9;
}
.calendar-label {
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;


}
.search-text{
  color: white;
}
.description {
  color: white;
  font-size: 24px;


}

