.container {
  width: 60vw;
}

.card-trip-container {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-image > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip-down {
  padding: 40px;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.card-trip-right {
  display: flex;
  flex-direction: column;
  align-item: flex-end;
  position: relative;
}

.avatar-position {
  position: absolute;
  right: 0px;
  top: -75px;
  width: 65px;

}
