.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 60px 0;
}

.card-product-index {
  height: 120px;
}

.card-product img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
  text-decoration: none;
  color: black;
}

.a-primary {
  text-decoration: none;
  color: black;
}

.a-primary:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.product-card-pricing {
  font-size: 16px;
  font-weight: bold;
}

.card-booking {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 2px;
}

.card-product-with-bookings {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.card-with-bookings .card-booking p {
  margin: 0;
}

.card-with-bookings .card-booking h5 {
  color: #1EDD88;
}

.card-product-with-bookings .card-product-infos {
  padding: 16px;
  text-decoration: none;
  color: black;
}

.card-product-with-bookings img {
  width: 170px;
  object-fit: cover;
}
