.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 120px;
}

.margin-top-30 {
  margin-top: 45px;
}

.margin-top-30:first-child {
  margin-top: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-5 {
  margin-top: 5px;
}

.card-product img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-decoration: none;
  color: black;
}

.a-primary {
  text-decoration: none;
  color: black;
}

.a-primary:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

p.product-card-pricing {
  font-weight: bold;
}

.card-booking {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.card-booking p {
  margin: 0;
  font-size: 14px;
}

.card-booking h5 {
  color: #228B22;
  margin-bottom: 0;
  margin-right: 8px;
}

.card-product {
  transition: 0.4s;
}

.card-product:hover {
  transform: scale(1.01);
  text-decoration: none;
}

.card-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-profile img {
  width: 100%;
  object-fit: cover;
}

.card-profile .card-profile-infos {
  text-decoration: none;
  color: black;
}

.card-booking a {
  color: black;
}
