.form-title {
  color: white;
  text-align: center;
}

.container {
  background: rgba(0, 0, 0, .1);
}

.form-control-label {
  color: white;
}

.file.required {
  color: white;
}
.file.optional {
  color: white;
}
.form-header {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.form-check-label {
  color:white;
}

